body {
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root,
.css-11qr2p8-MuiButtonBase-root-MuiButton-root {
    background-color: #d35400 !important;
}
.css-bhp9pd-MuiPaper-root-MuiCard-root {
    box-shadow: none;
}
a:-webkit-any-link {
    color: white !important;
}

.css-sqoje6-MuiTypography-root {
    font-size: 80px !important;
    margin-top: 150px !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    width: 600px !important;
}

.css-1wlk0hk-MuiAvatar-root {
    border-radius: 0 !important;
}

.css-jcn4dz-MuiBadge-badge {
    background-color: #16a085 !important;
}

.grid_center {
    margin: auto !important;
    margin-top: 30px !important;
}
.card {
    margin: 2px !important;
}
